.box{
  display: flex;
  flex-direction: column;
}

.box .item{
  padding: 15px;
  background: #43A1AC;
  color: #FFF;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}
